
  <div class="flex items center flex-wrap ml-4 mr-4">
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4 bg-chess"><p class="h6 text-amber-500">¿QUIÉN SOMOS?</p><p class="texto">Un club de joven creación pero formado por gente de diversa edad.</p> </div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4 bg-chess"><p class="h6 text-amber-500">HORARIOS</p><p class="texto">Nuestras ocupaciones permiten que tengamos un horario flexible</p></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/6 mb-4 bg-chess"><p class="h6 text-amber-500">NUESTROS OBJETIVOS</p><p class="texto">Enseñar y disfrutar enseñando y jugando</p></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4 "></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/6 mb-4 bg-chess"><p class="h6 text-amber-500">¿QUIÉN PUEDE VENIR?</p><p class="texto">El único requisito es tener más de seis años.</p></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4"></div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4 bg-chess"><p class="h6 text-amber-500">UBICACIÓN</p><p class="texto">Nuestro local está localizado en un sitio estratégico con muy buena combinación de transporte público</p></div>
  </div>
  