
<div class="flex items-center flex-wrap col-span-3 row-span-2">
<div class="bg-gray-200/[0.8] border-solid border-2 rounded-md mx-8 mb-4 img">
<picture> 
    <source srcset="./assets/images/chess/1.png"
        media="(min-width: 0px) and
        (max-width: 527px)">
         <source type="image/svg+xml" srcset="./assets/images/chess/1.webp"
         media="(min-width: 528px)"
        sizes="(min-width: 528px) 33vw">
        <img src="./assets/images/chess/1.webp" target="_blank" class="img-fluid img-thumbnail" alt="Daniel B." width="189" height="225" loading="lazy"><p class="text-orange-800"><small>Daniel B.<em> Con él empezó todo.</em></small></p>
    </picture>
</div>


<div class="flex items-center flex-wrap col-span-3 row-span-2">
    <div class="bg-gray-200/[0.8] border-solid border-2 rounded-md mx-8 mb-4 img">
    <picture> 
        <source srcset="./assets/images/chess/2.png"
            media="(min-width: 0px) and
            (max-width: 527px)">
             <source type="image/svg+xml" srcset="./assets/images/chess/2.webp"
             media="(min-width: 528px)"
            sizes="(min-width: 528px) 33vw">
            <img src="./assets/images/chess/2.webp" target="_blank" class="img-fluid img-thumbnail" alt="Zoe J." width="184" height="220" loading="lazy"><p class="text-orange-800"><small>Zoe J.<em> Detrás de su dulce</em></small></p><p class="text-orange-800"><small>apariencia, un rival increíble.</em></small></p></div>
        </picture>
    </div>
   

<div class="flex items-center flex-wrap col-span-3 row-span-2">
    <div class="bg-gray-200/[0.8] border-solid border-2 rounded-md mx-8 mb-4 img">
    <picture> 
        <source srcset="./assets/images/chess/3.png"
            media="(min-width: 0px) and
            (max-width: 527px)">
            <source type="image/svg+xml" srcset="./assets/images/chess/3.webp"
            media="(min-width: 528px)"
            sizes="(min-width: 528px) 33vw">
            <img src="./assets/images/chess/3.webp" target="_blank" class="img-fluid img-thumbnail" alt="Jack S." width="181" height="220" loading="lazy"><p class="text-orange-800"><small>Jack S.<em> Tu próximo regalo,</em></small></p> <p class="text-orange-800"><em><small>un ajedrez.</em></small></p></div>
        </picture>
    </div>
</div>


<div class="flex items-center flex-wrap col-span-3 row-span-2">
    <div class="bg-gray-200/[0.8] border-solid border-2 rounded-md mx-8 mb-4 img">
    <picture> 
        <source srcset="./assets/images/chess/4.png"
        media="(min-width: 0px) and
        (max-width: 527px)">
         <source type="image/svg+xml" srcset="./assets/images/chess/4.webp"
          media="(min-width: 528px)"
          sizes="(min-width: 528px) 33vw">
            <img src="./assets/images/chess/4.webp" target="_blank" class="img-fluid img-thumbnail" alt="Mark K." width="184" height="243" loading="lazy"><p class="text-orange-800"><small>Mark K.<em> No te engañe su timidez.</em></small></p><p class="text-orange-800"><em><small>Observador y decidido.</em></small></p></div>
    </picture>

           
            

<div class="flex items-center flex-wrap col-span-3 row-span-2">
    <div class="bg-gray-200/[0.8] border-solid border-2 rounded-md mx-8 mb-4 img">
    <picture> 
        <source srcset="./assets/images/chess/5.png"
        media="(min-width: 0px) and
        (max-width: 527px)">
        <source type="image/svg+xml" srcset="./assets/images/chess/5.webp"
        media="(min-width: 528px)"
        sizes="(min-width: 528px) 33vw">
           <img src="./assets/images/chess/5.webp" target="_blank" class="img-fluid img-thumbnail" alt="Claude D." width="196" height="250" loading="lazy"><p class="text-orange-800"><small>Claude D.<em>Apariencia apacible,</em></small></p><p class="text-orange-800"><em><small>rival incómodo.</em></small></p></div>
    </picture>
      
    
<div class="flex items-center flex-wrap col-span-3 row-span-2">
    <div class="bg-gray-200/[0.8] border-solid border-2 rounded-md mx-8 mb-4 img">
        <picture> 
            <source srcset="./assets/images/chess/6.png"
            media="(min-width: 0px) and
            (max-width: 527px)">
            <source type="image/svg+xml" srcset="./assets/images/chess/6.webp"
            media="(min-width: 528px)"
            sizes="(min-width: 528px) 33vw">
               <img src="./assets/images/chess/6.webp" target="_blank" class="img-fluid img-thumbnail" alt="Julia C." width="175" height="250" loading="lazy"><p class="text-orange-800"><small>Julia C. <em>Dueña de las tácticas</em></small></p><p class="text-orange-800"><em><small> ajedrecísticas orientales.</em></small></p></div>
            </picture>
            </div>
          </div>      
        



